Repository cquinterop/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, prettier, git add ., test, test --bail --findRelatedTests

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": ["lint", "prettier", "git add .", "test"]
}

.lintstagedrc.json:

{
  "src/**/*.tsx": [
    "lint",
    "test --bail --findRelatedTests"
  ]
}

feat: add coming soon message
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: lint, prettier, git add ., test, test --bail --findRelatedTests

feat: add openai
  package-lock.json
  package.json
  src/app/api/chat/route.ts
  src/app/page.tsx
  src/components/ChatComponent.tsx
Due: lint, prettier, git add ., test, test --bail --findRelatedTests

feat: add animations
  .gitignore
  package-lock.json
  package.json
  public/models/664a23ae6a1a85723cfe4052.glb
  public/models/animations.glb
  src/app/api/chat/route.ts
  src/app/globals.css
  src/app/page.tsx
  src/components/Avatar.tsx
  src/components/Experience.tsx
  src/components/UI.tsx
  src/hooks/useChat.tsx
Due: lint, prettier, git add ., test, test --bail --findRelatedTests

chore
  package-lock.json
  package.json
  public/audios/intro_0.mp3
  public/audios/intro_0.wav
  public/audios/intro_1.mp3
  public/audios/intro_1.wav
  src/app/api/chat/route.ts
Due: lint, prettier, git add ., test

feat: temporal page
  .github/workflows/nextjs.yml
  public/next.svg
  public/resume.pdf
  public/vercel.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/page.tsx
Due: lint, prettier, git add ., test, test --bail --findRelatedTests

CI: change branch
  .github/workflows/nextjs.yml
Due: none
